body {
  background-color: #2b292e;
  color: white;
  font-family: 'Ubuntu Mono';
  max-width: 1380px;
  margin: auto;
}

header {
  padding-top: 10px;
  text-align: center;
  color: #78dce8;
}

h1 {
  font-size: 4em;
  font-weight: lighter;
}

h2 {
  font-size: 1.2em;
  color: grey;
}

h3 {
  font-size: 1.3em;
  padding-top: 5%;
}

h4 {
  color: #ffd866;
  font-weight: bold;
  margin-top: 0px;
}

a:active {
  text-decoration: none;
}

a {
  color: #fc9867;
  text-decoration: none;
}

b {
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

.section {
}

.container {
  padding-left: 200px;
  margin: 0px 100px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: #211f22;
}

.sidenav a {
  padding: 10px 0px 10px 40px;
  text-decoration: none;
  color: #fc9867;
  display: block;
}

.sidenav p {
  padding: 20px 0px 10px 20px;
  display: block;
  margin: 0px;
}

.sidenav a:hover {
  color: white;
  background-color: #3d3b40;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.15s;
  margin: 10px;
  border-radius: 20px;
  padding: 20px;
  background-color: #3d3b40;
  box-sizing: border-box;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
}

.card {
  text-decoration: none;
  color: white;
}

.class {
  color: #a9dc76;
}

.type {
  color: #78dce8;
}

.tag {
  color: #ff6188;
}

.unit {
  color: #ab9df2;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.footer {
  padding: 50px 0px 20px 0px;
  text-align: center;
}

.top-button {
  display: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
  position: fixed;
  bottom: 25px;
  right: 25px;
  font-size: 3em;
}

.top-button:hover {
  /* transform: rotate(-20deg); */
  transform: scale(1.1);
}

.top-button:active {
  transform: rotate(-20deg);
}
