body {

}

@font-face { font-family: "Garamond Ultra"; src: url('../data/Garamond Ultra.ttf'); }

.main {
  display: flex;
  justify-content: center;
}

.site-accent {
  color: #17c671;
}

::selection {
    background-color: #17c671;
    color: white;
}

.imran_jami {
  max-width: 500px;
}

.imran_jami_text {
  margin: 20vh 0px;
}

.imran_jami_text p {
  margin-bottom: 1em;
  font-size: 1.2em;
}

.title {
  font-family: "Garamond Ultra";
  font-size: 4em;
  margin-bottom: 0.25em;
}

.row {
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.col {

}

.splash {
  height: 100vh;
}

.hide {
  display: none;
}

.footer {
  text-align: center;
  display: block;
  margin: 50px 0px;
  color: grey;
}

.right-justified {
  text-align: right;
  width: 267px;
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}

.centered {
  text-align: center;
}

.left-justified {
  margin-left: 20px;
}

.about_me {
  height: 400px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 15px 15px #17c671;
}

.about_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__container {
  margin: 0px 20px;
  width: 990px;
}

.about_me_title {
  padding-top: 100px;
}

@media (max-width: 990px) {
  .container {
    margin-top: 20px;
    
    justify-content: center;
  }

  .socials {
    display: none;
  }

  .imran_jami_text h2{
    line-height:0.8em;
  }
}

@media (max-width: 660px) {
  .right-justified {
    text-align: center;
    margin-right: 0;
  }

  .about_container {
    flex-direction: column-reverse;
  }
  .about_me {
    margin-top: 50px;
    height: 350px;
    box-shadow: none;
  }
}
