.header {
  font-family: "Garamond Ultra", serif;
  color: #333;
  font-size: 22px;
  transition: 0.1s;
  margin: 0;
}

.header:hover {
  color: #17c671;
}

*:hover {
  text-decoration: none !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  left: 0;
  padding: 15px 50px !important;
  background-color: #111;
  z-index: 98;
}

.navbar__list {
  list-style-type: none;
  padding: 0px !important;
}

ul {
  margin: 0;
  padding: 0px;
}

.navbar li {
  display: inline;
  margin: 0px 10px;
  font-size: 0.9em;
}

.navbar li a {
  color: #333;
  text-decoration: none;
  transition: 0.1s;
}

.navbar li a.resume {
  border: 1px solid #333;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

.navbar li a.resume:hover {
  background-color: #17c671;
  color: white;
  border: 1px solid #fff;
}

.btn-outline-success {
  border: 0px !important;
}

.word:hover {
  color: #17c671 !important;
}

.btn-outline-success:hover {
  border: 0px !important;
}

.navbar__mobile {
  z-index: 97;
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #211f22;
  padding: 20px;
  color: white;
  font-weight: bold;
  text-align: center;
  display: none;
  top: 0;
  left: 0;
}

.navbar__mobile__menuicon {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: absolute;
  right: 0;
  font-size: 1.4rem;
  padding: 0 20px;
}

.navbar__mobile__menuicon:hover {
  cursor: pointer;
}

.navbar__mobile__title {
  font-family: "Garamond Ultra", serif;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  z-index: 99;
}

.hidden {
  display: none;
}

.navbar__socials {
  display: none !important;
}

.navbar__socials a {
  margin: 0 1rem;
}

@media (max-width: 840px) {
  .navbar__header {
    display: none;
  }
  .navbar {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    transition-property: left;
    transition-duration: 0.5s;
    height: 100vh;
  }

  .navbar__socials {
    color: white;
    display: inline !important;
  }

  .navbar__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .navbar li a {
    padding: 2.5rem 0rem;
    font-size: 2.5rem;
  }

  .navbar__mobile {
    display: block;
  }

  .slideout {
    left: 100vw !important;
    transition-property: left;
    transition-duration: 0.5s;
    background-color: lawngreen;
  }
}
