.header {
  font-family: "Garamond Ultra", serif;
  /* letter-spacing: 0.5px; */
  color: #333;
  font-size: 22px;
  transition: 0.1s;
  margin: 0;
}

.header:hover {
  color: #17c671;
  text-decoration: none;
}

i {
  font-style: normal;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

.navbar {
  list-style-type: none;
  padding: 0px !important;
}

nav {
  padding: 15px 70px;
  
}

ul {
  margin: 0 !important;
  padding: 0px;
}

.navbar li {
  display: inline;
  margin: 0px 10px;
  font-size: 0.9em;
}

.navbar li a {
  color: #333;
  text-decoration: none;
  transition: 0.1s;
}


.navbar li a.resume {
  border: 1px solid #333;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
}

.navbar li a.resume:hover {
  background-color: #17c671;
  color: white;
  border: 1px solid #FFF;
}

.btn-outline-success {
  border: 0px !important;
}

.word:hover {
  color: #17c671 !important;
}

.btn-outline-success:hover {
  border: 0px !important;
}


.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fixed {
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 3;
  width: 100%;
}

.menu-icon {
  display: none;
}


.navbar-mobile {
  z-index: 98;
  height: 100vh;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden; 
}

.navbar-mobile li {
  width: 100%;
  text-align: center;
  padding: 30px 0px;
}

.navbar-mobile li a {
  font-size: 3rem;
}



@media (max-width: 840px) {
  .navbar {
    display: none !important;
  }

  .menu-icon {
    display: block;
    font-size: 1.5rem;
  }

  nav {
    padding: 15px 30px;
  }
}
