.projects {
  padding-top: 60px;
  padding-bottom: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.card_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 840px) {
  .projects h2 {
    text-align: center;
  }
}

@media (max-height: 970px) {
  .projects {
    min-height: 970px;
  }
}
